In [12]:
from operator import methodcaller

import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans

In [13]:
df = pd.read_csv('Admission_Predict_Ver1.1.csv')
df.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45

In [14]:
df.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [15]:
list(df)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [16]:
df.drop(['Serial No.','Chance of Admit '], axis=1, inplace=True)

In [17]:
sum(df.isnull().sum(), df.isna().sum())

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64

In [18]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000
mean,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000
std,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884
min,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000
25%,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000
50%,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000
75%,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000
max,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000

In [19]:
df = df.apply(lambda col: col / col.max())

In [20]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000
mean,0.930800,0.893267,0.622800,0.674800,0.69680,0.864560,0.560000
std,0.033221,0.050682,0.228702,0.198201,0.18509,0.060969,0.496884
min,0.852941,0.766667,0.200000,0.200000,0.20000,0.685484,0.000000
25%,0.905882,0.858333,0.400000,0.500000,0.60000,0.819304,0.000000
50%,0.932353,0.891667,0.600000,0.700000,0.70000,0.862903,1.000000
75%,0.955882,0.933333,0.800000,0.800000,0.80000,0.911290,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [21]:
kmeans = KMeans(n_clusters=2, random_state=42)

y_pred = kmeans.fit_predict(df[['GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research']])

In [32]:
plt.scatter(df['GRE Score'], df['TOEFL Score'], df['University Rating'], df['SOP'], df['LOR '], df['CGPA'], df['Research'],  c=y_pred)

TypeError: scatter() got multiple values for argument 'c'